@import url("./CormorantGaramond.css");

.slideHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-size: 90px;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
  margin: 0;
  z-index: 2;
  text-shadow: 0 4px 24px rgba(0, 0, 0, 0.7);
}

.carousel {
  position: relative;
  width: 100vw;
  overflow: hidden;
  height: 600px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.slide {
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.slideText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family:
    Montserrat Alternates,
    sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0 20px;
  max-width: 90%;
}

.pagination {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: none;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dotActive {
  background-color: #333;
}

.slide h2 {
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family:
    Montserrat Alternates,
    sans-serif;
  font-size: 4rem;
  font-weight: 600;
  font-style: SemiBold;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  z-index: 2;
  margin: 0;
  text-align: center;
}

@media (max-width: 768px) {
  .slideHeader {
    font-size: 50px;
    margin-bottom: 0.2rem;
  }

  .slideText {
    font-size: 1.2rem;
    margin-top: 2rem;
  }
}
