.leaflet-control-attribution {
  display: none !important;
}

.mapWrapper {
  width: 70%;
  margin: 3rem auto;
}

.numberCircle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid var(--gold);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--gold);
  display: flex;
  align-items: center;
  justify-content: center;
}

.numberText {
  font-weight: 600;
  font-size: 1.15rem;
  color: var(--gold);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
