.menuHeader {
  margin: 0;
  padding: 1rem 2rem;
  /* remove bottom rounding for fixed header */
  border-radius: 0 0 3rem 3rem;
  background-color: #2f3a4c;
  box-sizing: border-box;
  width: 100vw;
  transform: translateY(-40.5%);
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0.1;
}

.title {
  font-family: "Roboto", sans-serif;
  font-size: 2.6rem;
  font-weight: 500;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.line {
  width: 100%;
  max-width: 1200px;
  height: 3px;
  background-color: #ffffff;
  margin: 1rem 0;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  margin: 0.5rem auto 0;
}
